#container
  width: 90%
  margin: auto
  display: flex
  flex-wrap: wrap
  font-family: $raleway
  .card
    padding: 20px
    width: 31%
    border-radius: 3px
    margin: 20px auto
    margin-left: 0
    box-shadow: $shadow
    background-color: white
    position: relative
    display: flex
    flex-wrap: wrap
    .info
      display: flex
      flex-wrap: wrap
      width: 100%
      label
        width: 17%
        padding: 5px 0
        font-size: 15px
        color: #aaa
      div
        width: 83%
        padding: 5px 0
    .icons
      position: absolute
      top: 0
      right: 0
      bottom: 0
      margin: 10px 15px 10px 0
      text-align: center
      i
        font-size: 20px
        display: block
        margin: 8px auto
        color: $mainColor
        cursor: pointer
        &.deleteIcon
          font-size: 26px
        &:hover
          color: $mainColor * 2

  #popup
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0, 0, 0, .8)
    z-index: 2
    display: none
    #confirmDelete
      display: none
      position: fixed
      top: 60%
      left: 50%
      transform: translate(-50%, -50%)
      opacity: 0
      background-color: white
      padding: 30px
      border-radius: 4px
      box-shadow: $shadow
      p
        margin: 0 auto
        font-size: 20px
      button
        padding: 10px 20px
        width: 40%
        margin: 25px 4% 10px
        border-radius: 3px
        cursor: pointer
        outline: none
        background-color: $mainColor
        color: white
        font-size: 17px
        font-weight: 400
        letter-spacing: 1px
        border: none
        transition: .3s ease
        &:hover
          background-color: $mainColor / 2

    #formEdit
      display: none
      width: 400px
      position: fixed
      top: 60%
      left: 50%
      transform: translate(-50%, -50%)
      opacity: 0
      background-color: white
      padding: 30px
      border-radius: 4px
      box-shadow: $shadow
      input
        width: 90%
        padding: 10px 15px
        border-radius: 3px
        border: 1px solid #ccc
        margin: 10px auto
        display: block
      button
        display: block
        padding: 10px 20px
        background-color: $mainColor
        border: 2px solid $mainColor
        margin: 20px auto
        color: white
        cursor: pointer
        font-size: 18px
        border-radius: 3px
        &:hover
          background-color: white
          color: $mainColor
          border: 2px dashed $mainColor









/////////////////////////// PUT ///////////////////
