#container
  width: 90%
  margin: auto
  display: flex
  flex-wrap: wrap
  font-family: $raleway
  .card
    padding: 20px
    width: 31%
    border-radius: 3px
    margin: 20px auto
    margin-left: 0
    box-shadow: $shadow
    background-color: white
    .info
      line-height: 2

#form
  width: 400px
  display: block
  padding: 30px
  margin: 50px auto
  border-radius: 2px
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  background-color: white
  overflow: hidden
  transform: scale(0.6) translateY(80px)
  opacity: 0
  animation: animateToStratForm .7s ease forwards
  // display: none
  .loading
    width: 20px
    height: 20px
    border-radius: 50%
    border: 1px solid $mainColor
    margin: 0 auto
    transform: rotate(0)
    animation: rotateLoading 1s ease-in-out infinite
    display: none
    span
      position: absolute
      top: 0
      left: 0
      background-color: $mainColor
      width: 100%
      height: 100%
      &:nth-of-type(2)
        transform: rotate(30deg)
      &:nth-of-type(3)
        transform: rotate(60deg)
  .placeholder
    width: 95%
    display: block
    margin: 25px auto
    position: relative
    span
      position: absolute
      top: 25%
      left: 0
      font-size: 18px
      font-weight: 400
      &.animateFocusIn
        animation: animateFocusIn .08s ease-in-out forwards
    input
      width: 100%
      margin: 0 auto
      padding: 10px 0
      border: none
      background-color: transparent
      position: relative
      z-index: 2
      border-bottom: 2px solid $mainColor
      outline: none
      color: $mainColor
      font-size: 18px

  button
    display: block
    background-color: $mainColor
    color: white
    border: none
    padding: 20px 30px
    margin: 40px auto 20px
    font-size: 18px
    text-transform: uppercase
    letter-spacing: 1px
    cursor: pointer
    &:hover
      background-color: $mainColor / 1.4
