@keyframes animateToStratForm
  100%
    transform: translateY(0) scale(1)
    opacity: 1


@keyframes rotateLoading
  100%
    transform: rotate(360deg)


@keyframes animateFocusIn
  100%
    transform: translateY(-20px)
    font-size: 15px
    color: #999
